#myHeader {
  position: fixed;
  width: 100%;
  z-index: 5;

  .content {
    // width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0 30px;
    line-height: 80px;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    #myLogo {
      h1 {
        font-size: 28px;
        font-weight: 500;
        color: orangered;
      }
    }

    #myMenu {
      display: flex;
      justify-content: space-between;
      height: 50px;

      #myMenuContent {
        display: flex;
        justify-content: space-between;

        .myMenuItem {
          margin: 0 20px;

          .myLink {
            cursor: pointer;
          }
        }

        .dangNhap {
          margin-left: 40px;
          display: flex;
          justify-content: space-between;

          #userInfo {
            margin-right: 30px;
          }
        }
      }

      #myButtonDangXuat {
        background-color: orangered;
        color: white;
        border: 1px solid transparent;
        transition: all 0.3s;

        &:hover {
          border: 1px solid white;
          background-color: blueviolet;
        }
      }
    }

    .myBar {
      display: none;
    }
  }
}

//overlay
@media screen and (max-width: 992px) {
  #myHeader {
    .content {
      width: 100%;

      #myMenu {
        position: absolute;
        z-index: 3;
        top: 80px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: all 0.1s;
        box-shadow: rgba(240, 240, 240, 0.2);
        flex-direction: column-reverse;
        justify-content: flex-end;
        background-color: rgb(254, 254, 254);

        #myMenuContent {
          // flex-direction: column;
          flex-direction: column;

          .myMenuItem {
            margin: 0;
            height: 40px;
            line-height: 5px;
            padding: 20px;
            border-bottom: 1px solid silver;
            color: blueviolet;
            font-size: 16px;
            font-weight: 500;
          }

          .dangNhap {
            margin: 0;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            background-color: rgb(30, 29, 29);
            border-bottom: 1px solid orangered;
            color: white;
            font-size: 20px;
            font-weight: 500;
          }

          #userInfo {
            color: orangered;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }

      .myBar {
        display: block;
      }
    }
  }
}

.ant-btn-primary {
  background-color: orangered !important;
}